* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0;
}

/* .main-content {
  height: 90vh  ;
  display: flex;
  flex-direction: column;
} */

.blue-style {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4.9375rem;
  background-color: #0072c6;
}
h1 {
  color: white;
}

.nav-style {
  padding: 0.7375rem 0;
  background-color: #dddddd;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
  margin-right: 0;
}

ul > li > a {
  color: #333333;
  text-decoration: none;
  cursor: pointer;
}

.aside-style {
  float: left;
  width: 8.125rem;
  height: 95%;
  background-color: #f2f2f2;
  margin-top: 0.9375rem;
  margin-left: 0.9375rem;

  padding-left: 0.625rem;
  padding-top: 0.9375rem;
}
.aside-position {
  position: -webkit-sticky;
  position: sticky;
  top: 10;
}
h3 > a {
  color: #0c70c3;
  text-decoration: none;
  cursor: pointer;
  list-style-type: none;
}

.category-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
  padding-top: 1.25rem;
}
.section-style {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.section-div-style {
  margin: 0.9375rem 0 0 0.9375rem;
  border: 1px solid black;
  border-radius: 1.25rem;
  width: 23.5625rem;
  height: 13.125rem;
  padding: 0.9375rem 1.25rem;
}
section > div {
  box-sizing: border-box;
}

section > div > p {
  font-size: 0.625rem;
  padding-top: 1.25rem;
}

.footer-blue-style {
  background-color: #0072c6;
  width: 100%;
  margin: 3.125rem 0 0 0;
}
.footer-flex {
  display: flex;
  justify-content: space-between;
}

.white-font {
  padding: 0.9375rem;
  color: white;
}
footer > div > div > ul > li > a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  list-style-type: none;
}
.footer-list-style {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

@media screen and (max-width: 450px) {
  .aside-style {
    display: none;
  }
  .section-style {
    margin-right: 3rem;
  }
  .section-div-style {
    overflow: auto;
  }
}
